/*  everything until the next note are just elements that are for the design of the calender */
#Calander {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  background-color: #efefef;
  gap: 5px;
  padding: 100px;
  max-width: 600px;
  width: 100%;
  border-radius: 2em;
  box-shadow: black 3px 3px;
}

.day {
  display: flex;
  flex-direction: column;
  height: 40px;
  width: 40px;
  border: black solid 2px;
  border-radius: 4px;
  background: hsl(0, 0%, 82%);
  padding: 20px;
  font-size: 14px;
  justify-content: flex-start;
  align-content: center;
  cursor: pointer;
  transition: ease-in .3s;
}

.day:hover {
  background-color: #ffffff;
  transform: translateY(-2px);
  box-shadow: black 0px 3px;
}

.Daynote {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  height: 20px;
  width: 80px;
  text-align: center;
  text-shadow: hsl(0, 0%, 82%) 3px 2px;
}

/* yar she blows! end of the calander */
